.color-white {
	color: white !important;
}
.color-main {
	color: $yellow;
}


.not-important {
	opacity: .75;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.img-resp {
	width: 100%;
	height: auto;
}

// margins
.mt-0 	{margin-top: 0 !important;}
.mb-0 	{margin-bottom: 0 !important}
.mb-10 	{margin-bottom: $gap10 !important;}
.mb-20 	{margin-bottom: $gap20 !important;}
.mb-30 	{margin-bottom: $gap30 !important;}
.mb-40 	{margin-bottom: $gap40 !important;}
.mb-60 	{margin-bottom: $gap60 !important;}
.mb-80 	{margin-bottom: $gap80 !important;}
.mb-100 {margin-bottom: $gap100 !important;}
.mb-120 {margin-bottom: $gap120 !important;}
.mb-140 {margin-bottom: $gap140 !important;}
.mb-300 {margin-bottom: $gap300 !important;}

// paddings
.pb-0 	{padding-bottom: 0 !important}
.pb-10 	{padding-bottom: $gap10 !important;}
.pb-20 	{padding-bottom: $gap20 !important;}
.pb-30 	{padding-bottom: $gap30 !important;}
.pb-40 	{padding-bottom: $gap40 !important;}
.pb-60 	{padding-bottom: $gap60 !important;}
.pb-80 	{padding-bottom: $gap80 !important;}
.pb-100 {padding-bottom: $gap100 !important;}
.pb-120 {padding-bottom: $gap120 !important;}
.pb-140 {padding-bottom: $gap120 !important;}

.pt-0 	{padding-top: 0 !important;}
.pt-10 	{padding-top: $gap10 !important;}
.pt-20 	{padding-top: $gap20 !important;}
.pt-30 	{padding-top: $gap30 !important;}
.pt-40 	{padding-top: $gap40 !important;}
.pt-60 	{padding-top: $gap60 !important;}
.pt-80 	{padding-top: $gap80 !important;}
.pt-100 {padding-top: $gap100 !important;}
.pt-120 {padding-top: $gap120 !important;}
.pt-140 {padding-top: $gap120 !important;}

.pd-0 	{padding: 0 !important;}
.pd-10 	{padding: $gap10 !important;}
.pd-20 	{padding: $gap20 !important;}
.pd-30 	{padding: $gap30 !important;}
.pd-40 	{padding: $gap40 !important;}
.pd-60 	{padding: $gap60 !important;}
.pd-80 	{padding: $gap80 !important;}
.pd-100 {padding: $gap100 !important;}
.pd-120 {padding: $gap120 !important;}
.pd-140 {padding: $gap120 !important;}



    @media screen and (max-width: 768px) {
		.mb-30 	{margin-bottom: 25px !important;}
		.mb-40 	{margin-bottom: 30px !important;}
		.mb-60 	{margin-bottom: 45px !important;}
		.mb-80 	{margin-bottom: 60px !important;}
		.mb-100 {margin-bottom: 80px !important;}
		.mb-200 {margin-bottom: 165px !important;}
		.mb-300 {margin-bottom: $gap300 * .8 !important;}
		.pb-140 {padding-bottom: 105px !important;}

		// paddings
		.pb-10 	{padding-bottom: $gap10*.8 !important;}
		.pb-20 	{padding-bottom: $gap20*.8 !important;}
		.pb-30 	{padding-bottom: $gap30*.8 !important;}
		.pb-40 	{padding-bottom: $gap40*.8 !important;}
		.pb-60 	{padding-bottom: $gap60*.8 !important;}
		.pb-80 	{padding-bottom: $gap80*.8 !important;}
		.pb-100 {padding-bottom: $gap100*.8 !important;}
		.pb-120 {padding-bottom: $gap120*.8 !important;}
		.pb-140 {padding-bottom: $gap120*.8 !important;}

		.pt-10 	{padding-top: $gap10*.8 !important;}
		.pt-20 	{padding-top: $gap20*.8 !important;}
		.pt-30 	{padding-top: $gap30*.8 !important;}
		.pt-40 	{padding-top: $gap40*.8 !important;}
		.pt-60 	{padding-top: $gap60*.8 !important;}
		.pt-80 	{padding-top: $gap80*.8 !important;}
		.pt-100 {padding-top: $gap100*.8 !important;}
		.pt-120 {padding-top: $gap120*.8 !important;}
		.pt-140 {padding-top: $gap120*.8 !important;}

		.pd-10 	{padding: $gap10*.8 !important;}
		.pd-20 	{padding: $gap20*.8 !important;}
		.pd-30 	{padding: $gap30*.8 !important;}
		.pd-40 	{padding: $gap40*.8 !important;}
		.pd-60 	{padding: $gap60*.8 !important;}
		.pd-80 	{padding: $gap80*.8 !important;}
		.pd-100 {padding: $gap100*.8 !important;}
		.pd-120 {padding: $gap120*.8 !important;}
		.pd-140 {padding: $gap120*.8 !important;}


    }
    @media screen and (max-width: 568px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 20px !important;}
		.mb-40 	{margin-bottom: 25px !important;}
		.mb-60 	{margin-bottom: 35px !important;}
		.mb-80 	{margin-bottom: 45px !important;}
		.mb-100 {margin-bottom: 60px !important;}
		.mb-200 {margin-bottom: 135px !important;}
		.mb-300 {margin-bottom: $gap300 * .65 !important;}
		.pb-140 {padding-bottom: 80px !important;}

		// paddings
		.pb-10 	{padding-bottom: $gap10*.65 !important;}
		.pb-20 	{padding-bottom: $gap20*.65 !important;}
		.pb-30 	{padding-bottom: $gap30*.65 !important;}
		.pb-40 	{padding-bottom: $gap40*.65 !important;}
		.pb-60 	{padding-bottom: $gap60*.65 !important;}
		.pb-80 	{padding-bottom: $gap80*.65 !important;}
		.pb-100 {padding-bottom: $gap100*.65 !important;}
		.pb-120 {padding-bottom: $gap120*.65 !important;}
		.pb-140 {padding-bottom: $gap120*.65 !important;}

		.pt-10 	{padding-top: $gap10*.65 !important;}
		.pt-20 	{padding-top: $gap20*.65 !important;}
		.pt-30 	{padding-top: $gap30*.65 !important;}
		.pt-40 	{padding-top: $gap40*.65 !important;}
		.pt-60 	{padding-top: $gap60*.65 !important;}
		.pt-80 	{padding-top: $gap80*.65 !important;}
		.pt-100 {padding-top: $gap100*.65 !important;}
		.pt-120 {padding-top: $gap120*.65 !important;}
		.pt-140 {padding-top: $gap120*.65 !important;}

		.pd-10 	{padding: $gap10*.65 !important;}
		.pd-20 	{padding: $gap20*.65 !important;}
		.pd-30 	{padding: $gap30*.65 !important;}
		.pd-40 	{padding: $gap40*.65 !important;}
		.pd-60 	{padding: $gap60*.65 !important;}
		.pd-80 	{padding: $gap80*.65 !important;}
		.pd-100 {padding: $gap100*.65 !important;}
		.pd-120 {padding: $gap120*.65 !important;}
		.pd-140 {padding: $gap120*.65 !important;}
    }
    @media screen and (max-width: 413px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 15px !important;}
		.mb-40 	{margin-bottom: 20px !important;}
		.mb-60 	{margin-bottom: 30px !important;}
		.mb-80 	{margin-bottom: 40px !important;}
		.mb-100 {margin-bottom: 50px !important;}
		.mb-200 {margin-bottom: 100px !important;}
		.mb-300 {margin-bottom: $gap300 * .5 !important;}
		.pb-140 {padding-bottom: 55px !important;}

		// paddings
		.pb-10 	{padding-bottom: $gap10*.5 !important;}
		.pb-20 	{padding-bottom: $gap20*.5 !important;}
		.pb-30 	{padding-bottom: $gap30*.5 !important;}
		.pb-40 	{padding-bottom: $gap40*.5 !important;}
		.pb-60 	{padding-bottom: $gap60*.5 !important;}
		.pb-80 	{padding-bottom: $gap80*.5 !important;}
		.pb-100 {padding-bottom: $gap100*.5 !important;}
		.pb-120 {padding-bottom: $gap120*.5 !important;}
		.pb-140 {padding-bottom: $gap120*.5 !important;}

		.pt-10 	{padding-top: $gap10*.5 !important;}
		.pt-20 	{padding-top: $gap20*.5 !important;}
		.pt-30 	{padding-top: $gap30*.5 !important;}
		.pt-40 	{padding-top: $gap40*.5 !important;}
		.pt-60 	{padding-top: $gap60*.5 !important;}
		.pt-80 	{padding-top: $gap80*.5 !important;}
		.pt-100 {padding-top: $gap100*.5 !important;}
		.pt-120 {padding-top: $gap120*.5 !important;}
		.pt-140 {padding-top: $gap120*.5 !important;}

		.pd-10 	{padding: $gap10*.5 !important;}
		.pd-20 	{padding: $gap20*.5 !important;}
		.pd-30 	{padding: $gap30*.5 !important;}
		.pd-40 	{padding: $gap40*.5 !important;}
		.pd-60 	{padding: $gap60*.5 !important;}
		.pd-80 	{padding: $gap80*.5 !important;}
		.pd-100 {padding: $gap100*.5 !important;}
		.pd-120 {padding: $gap120*.5 !important;}
		.pd-140 {padding: $gap120*.5 !important;}
    }
