$input-height: 42px;


.signup-form {
	// @include flex-row(wrap,space-between,center);
	// margin: 0 113px 0 -10px;

	&>.row {margin-bottom: 0}
}


.signup-form-label {
	position: relative;
	height: $input-height;
	border: 1px solid $black;
	border-radius: 20px;

	// margin: 7px;
	display: block;

	&.error {
		border: 1px solid #ffcaca !important;
		background-color: #fff1f1 !important;
	}
	&.success {
		border: 1px solid #3cbf3c !important;
		background-color: #f3fff3 !important;
	}

	&.comment {
		height: $input-height * 1.5;
	}

	input {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		padding: 0 20px 0 20px;
		z-index: 2;
		background-color: transparent;
	}

	.message-error {
		display: none;
		position: absolute;
		bottom: -42%;
		left: 20px;
		color: red;
		font-size: 11px;
	}

	// textarea {
	// 	position: absolute;
	// 	top:0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	border: 0;
	// 	outline: 0;
	// 	padding: 0px 20px 0 20px;
	// 	z-index: 2;
	// 	background-color: transparent;
	// 	margin-top: 8px;
	// }

	&.half {flex: 0 1 50%; max-width: 50%;}
	&.full {flex: 1 1 100%; max-width: 100%;}
}
.signup-form-floating-placeholder {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	line-height: $input-height - 2;
	z-index: 1;
	padding: 0 0 0 20px;
	transition: 400ms;
	font-size: 14px;

	&.float {
		transform: translateY(-$input-height * 0.7);
		font-size: 13px;
		color: $black;
		opacity: .65;
	}
}

.signup-form-masked-tel {}

@media screen and (max-width: 1100px) {
	.signup-form {
		margin: 0 30px 0 -10px;
	}
	.signup-form-floating-placeholder {
		font-size: 13px;
		padding: 0 0 0 14px;
	}
}

@media screen and (max-width: 992px) {
	.signup-policy {
		br {display: none;}
	}
	.signup-form-floating-placeholder {
		font-size: 13px;
		padding: 0 0 0 14px;
	}
}

@media screen and (max-width: 850px) {
	.signup-form {
		.col-6 {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 700px) {
	.signup-form {
		margin: 0 -8px 0 -8px;
	}
}